<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="info">
	<resultMap type="java.util.HashMap" id="resultMap">
		<result property="infoName" column="info_name" javaType="String"/>
		<result property="infoAge" column="info_age" javaType="String"/>
		<result property="infoGender" column="info_gender" javaType="Integer"/>
	</resultMap>
	
	<insert id="insert" parameterType="map">
		insert into tbl_info(info_name, info_age, info_gender)
		values(#{infoName}, #{infoAge}, #{infoGender})
	</insert>
	
	<select id="getSequence" resultType="_int">
		select last_insert_id()
	</select>
	
	<select id="findById" parameterType="_int" resultType="map">
		select info_name, info_age, info_gender from tbl_info
		where info_number = #{infoNumber}
	</select>
	
	<delete id="deletePrev">
		delete from tbl_info where info_number = LAST_INSERT_ID() - 1
	</delete>
	
	<select id="getCount" resultType="_int">
		select count(info_number) from tbl_info
	</select>
</mapper>
